.checkbox {
	position: relative;
	margin: 20px;
	width: 15px;
	height: 15px;
	background-color: #fff;
	border-radius: 2px;
	border: none;
	cursor: pointer;
}

.checkbox > input {
	visibility: hidden;
}

.checkbox > svg {
	position: absolute;
	top: -1px;
	left: 0;
}

.checkbox > svg > path {
	fill: #e9c46a;
}

.showIcon > svg {
	opacity: 0;
}
